<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Soccer_Score_Forecast.Properties.Settings.match_analysis_pdmConnectionString"
        connectionString="Data Source=localhost;
             Integrated Security=SSPI;
             AttachDBFilename=G:\htmlconvertsql\match_analysis_pdm.mdf;
             User Instance=false;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

<!--
Data Source=.\SQLExpress;Integrated Security=true; AttachDbFilename=|DataDirectory|\mydb.mdf;User Instance=true;

connectionString="Data Source=PC3705-20090828\SQLEXPRESS;Initial Catalog=match_analysis_pdm;Integrated Security=True"

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Soccer_Score_Forecast.Properties.Settings.match_analysis_pdmConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;
             Integrated Security=SSPI;
             AttachDBFilename=G:\htmlconvertsql\match_analysis_pdm.mdf;
             User Instance=false;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

-->